/* Font Google */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {

    --font-family: 'Poppins', sans-serif;
    --font-size: 16px;

    
    /* Largura Header */
    --header-width: 100%;
    --header-height: 100px;

    /* Logo */
    --font-size-logo: 2rem;
    --font-weight-logo: 700;
    --color-logo: #000;
    --text-shadow-logo: 0 4px 6px rgb(0, 0, 0, 0.3);

    /* Nav-Links */
    --font-size-link: 1rem;
    --font-weight-link: 600;
    --color-link: #000;
    --color-link-hover: #3b3b3b;



}

/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
    font-size: var(--font-size);
    
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    /* color: var(--color); */
    font-family: var(--font-family);
    font-size: var(--font-size);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.section {
    padding: 60px 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

li {
    display: inline;
    
}

/* Header */

header .header {
    width: var(--header-width);
    height: var(--header-height);
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px auto;
}

.header__container .header__logo {
    font-size: var(--font-size-logo);
    font-weight: var(--font-weight-logo);
    color: var(--color-logo);
    text-shadow: var(--text-shadow-logo);
    transition: all 0.3s ease-in-out;
}

.header__container .header__logo:hover {
    transform: translateY(-5px);
}


.header__menu .header__list .header__items{
    padding: 0 20px;
}

.header__list .header__items .header__link {
    font-size: var(--font-size-link);
    color: var(--color-link);
}


